<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PhotoMapper">
    <select id='selectPostsPhotos'>
        SELECT * FROM photo
        WHERE place_id = #{placeId} 
    </select>

    <insert id='insertPlacePhoto'>
        INSERT INTO photo (user_id, place_id, filename)
        VALUES (#{userId}, #{placeId}, #{file})
    </insert>
</mapper>