
  .glider-prev,
  .glider-next {
    top: 75px;
    color: #fff;
  }
  
  .glider-prev {
    left: -30px;
  }
  
  .glider-next {
    right: -30px;
  }
  
  .glider {
    height: 200px;
  }
  .glider-contain {
    margin-bottom: 25px;
  }
  
  .glider-track {
    height: 100%;
  }
  .glider-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 100px 30px 40px 30px;
    box-sizing: border-box;
  }
  
  .slide {
    background-color: palegreen;
    color: darkgreen;
    font-size: 3em;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    display: block;
  }

  .text {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .emoji {
    font-size: 42px;
    text-align: center;
  }

  .title {
    font-size: 35px;
    color: #FEFEFE;
    font-weight: 600;
    padding-top: 18px;
    box-sizing: border-box;
    text-align: center;

  }

  .desc {
    font-size: 16px;
    color: #FEFEFE; 
    opacity: 0.7;
    margin: 18px 0 40px 0;
    text-align: center;

  }