.glider-container {
  padding: 50px 0;
  .glider-prev,
  .glider-next {
    top: 75px;
    color: #fff;
  }

  .glider-prev {
    left: -30px;
  }

  .glider-next {
    right: -30px;
  }

  .glider {
    height: 200px;
  }
  .glider-contain {
    margin-bottom: 25px;
  }

  .glider-track {
    height: 100%;
  }
  .glider-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 100px 30px 40px 30px;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    display: block;
  }

  .text {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .emoji {
    font-size: 42px;
    text-align: center;
  }

  .text {
    font-size: 35px;
    color: #fefefe;
    font-weight: 600;
    padding-top: 18px;
    box-sizing: border-box;
    text-align: center;
  }

  .user_number {
    font-size: 16px;
    color: #fefefe;
    opacity: 0.7;
    margin: 18px 0 40px 0;
    text-align: center;
  }

  .glider-next,
  .glider-prev {
    position: absolute;
    background: 0 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -23px;
    top: 30%;
    cursor: pointer;
    opacity: 1;
    line-height: 1;
    transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  .glider-next:focus,
  .glider-next:hover,
  .glider-prev:focus,
  .glider-prev:hover {
    color: #ccc;
  }
  .glider-next {
    right: -23px;
    left: auto;
  }
  .glider-next.disabled.glider-prev.disabled {
    opacity: 0.25;
    color: #666;
    cursor: default;
  }
}
